.about-me {
  min-height: 100vh;
  display: grid;
  font-size: 1rem;
  color: #0000ff;
  background-image: radial-gradient(#8a8fa2, #415a67);
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1rem;
}