$nico-font-family: "nico" !default;
$nico-font-path: "asset/font" !default;

$icon-twitter: "\e900";
$icon-social: "\e900";
$icon-globe: "\e901";
$icon-earth: "\e901";
$icon-world: "\e901";
$icon-menu: "\e9bd";
$icon-world1: "\e904";
$icon-globe1: "\e904";
$icon-internet: "\e904";
$icon-network: "\e904";
$icon-document-file-pdf: "\e905";
$icon-document-file-pdf1: "\e906";
$icon-twitter2: "\e907";
$icon-codepen1: "\e908";
$icon-github-square: "\e909";
$icon-github1: "\e90a";

