<!--Start of Landing page -->
#landing
  .navbar
    a(href='/') Menu
    a(href='/') NICO
    a(href='/') CV
  .landing
    span N
    span I
    span C
    span O
    span .
    span M
    span E
    span .
    span U
    span K
<!--End of Landing page -->