extends _component/layout/layout
block config
  -
    var myTitle = 'Nico';
    var myDescription = 'This is my new website';
block content 
    //- include _component/navbar/navbar
    include _component/landing/landing
    include _component/about/about